# pandas

Pandas is python module that makes data science easy and effective

Used sample weather data set to find out the maximum temparature in the month of january, on which days did it rains and the average speed of wind during the month

First we will see in python code

In [ ]:
#!pip install pandas
# now we will see in pandas 
import pandas as pd

df = pd.read_csv("/Users/Shreya/Downloads/weather_new_cities.csv")
df.head()

        Day    city  temp  wspeed  event
0  1/1/2017      NY    32       6   Rain
1  1/2/2017      NY    36       7  Sunny
2  1/3/2017      NY    28      12   Snow
3  1/4/2017      NY    33       7  Sunny
4  1/1/2017  Mumbai    32       5  Sunny

In [48]:
df.columns

Index(['Day', 'city', 'temp', 'wspeed', 'event'], dtype='object')

In [49]:
df.shape

(5, 5)

In [50]:
df.dtypes

Day       object
city      object
temp       int64
wspeed     int64
event     object
dtype: object

In [9]:
df.describe()

            temp     wspeed
count   5.000000   5.000000
mean   32.200000   7.400000
std     2.863564   2.701851
min    28.000000   5.000000
25%    32.000000   6.000000
50%    32.000000   7.000000
75%    33.000000   7.000000
max    36.000000  12.000000

In [11]:
df.event.describe()

count         5
unique        3
top       Sunny
freq          3
Name: event, dtype: object

In [53]:
df.event.unique()

array(['Rain', 'Sunny', 'Snow'], dtype=object)

In [54]:
df[['temp', 'wspeed','event']].head()

   temp  wspeed  event
0    32       6   Rain
1    36       7  Sunny
2    28      12   Snow
3    33       7  Sunny
4    32       5  Sunny

In [57]:
#to know which day it rains
df[['Day','city']][df['event'] == 'Rain']
#df1.head()

        Day city
0  1/1/2017   NY

In [58]:
df[['Day','city','temp','event']][df['temp'] > 35]

        Day city  temp  event
1  1/2/2017   NY    36  Sunny

In [ ]:
#3. average wind speed
df['WindSpeedMPH'].mean()